@model IEnumerable<MvcAssignment.Data.Models.Person>

@{
    ViewData["Title"] = "Birth Year Less Than 2000 ";
}

<h1>Rookies who have birth year less than 2000</h1>

@await Html.PartialAsync("_RookiesPartial", Model)

