@model IEnumerable<MvcAssignment.Data.Models.Person>

@{
    ViewData["Title"] = "Birth Year 2000";
}

<h1>Rookies who have birth year is 2000</h1>

@await Html.PartialAsync("_RookiesPartial", Model)

